@page "/"

<PageTitle>Home</PageTitle>

<h1>About Page</h1>

Welcome to Team Bellen's Snake Game.
Our game does a good job of having the game requirments.
We first created all the model classes.
Our World class contains dictionaries for the alive/dead snakes and powerups.
It also contains a hashset of walls.
Next we created the network controller class. 
This class uses the network communication class and communicates with the server.
It does this by changing the world object and sending move commands.
Then we implemented the snake GUI. This class initializes the game and network loop.
it also detectes key presses to move the snake. 
